

<main class="content-wrapper">
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card p-0">
                    <h2 class="card-padding pb-0 text-center ">Task List Of Employee</h2>
                    <div class="table-responsive">
                        <table class="table" id="directorChildTable">
                            <thead>
                                <tr>
                                    <th>Task Id</th>
                                    <th>Task Date</th>
                                    <th>Employee Id</th>
                                    <th>Task Name</th>
                                    <th>Task Description</th>
                                    <th>Status</th>
                                    <th>Created On</th>
                                    <th>Modified On</th>
                                    <th>Approved or Rejected By</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</main>