
@{
    ViewBag.Title = "DirectorTask";
}
@using HRMSWithTheme.Models
@model List<TaskMaster>


<!-- SweetAlert CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
<!-- SweetAlert JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<main class="content-wrapper">
    @*<a href="@Url.Action("TaskCreate", "Director")" class="d-flex justify-content-center"><button class="btn btn-primary mb-2">Add Task</button></a>*@
    <button type="button" class="btn btn-primary directorTaskCreateOrUpdate" data-id="0">
        Add Task
    </button>
    <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
                <div class="mdc-card p-0">
                    <h2 class="card-padding pb-0 text-center ">Your Task List</h2>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped" id="directorTask">
                            <thead>
                                <tr>
                                    <th scope="col">Task Id</th>
                                    <th scope="col">Task Date</th>
                                    <th scope="col">Employee Id</th>
                                    <th scope="col">Task Name</th>
                                    <th scope="col">Task Description</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Created On</th>
                                    <th scope="col">Modified On</th>
                                    <th scope="col">Approved or Rejected By</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts
{
    <script src="~/Scripts/CustomJs/ProfileEdit.js"></script>
    <script src="~/Scripts/CustomJs/DirectorTask.js"></script>
}